'<div class="category button dev"><a style="color: #3F4F26;" class="category_link" href="#">Dev</a>'

'  <div class="dropdown_menu_list_wrapper" style="display: none; ">'
'    <ul class="dropdown_menu_list">'
'      <li class="dev tooltip"><a href="http://localhost:3013/admin" class="batch_action">Admin</a></li>'
'      <li class="dev tooltip"><a href="http://localhost:3013/cms-admin" class="batch_action">CMS</a></li>'
'      <li class="dev "><a href="http://localhost:3013/dean" class="batch_action">Public - Dean</a></li>'
'    </ul>'
'  </div>'

'</div>'