@mixin border_radius($radus) {
  -moz-border-radius: $radus; /* Firefox */
  -webkit-border-radius: $radus; /* Safari, Chrome */
  border-radius: $radus; /* CSS3 */
}

html {
  background: #000;

  body {
    padding: 15px 40px;

    #body {

      padding: 30px;
      font-size: 1.1em;
      border: 1px solid #999;
      background: url('ant.gif') top left no-repeat #2E2B2C;
      position: relative;

      .pages-container {
        color: #808080;
        a {
          color: #2c2c2c;
        }
        position: relative;
        top: -20px;
        left: 5px;
        margin-bottom: 12px;

        .page-button {
          margin: 0 8px;
          padding: 0 8px;
          //display: block;
          @include border_radius(15px);
          background-color: #eae9dc;
          border: 1px solid #3c3c3c;
          position: absolute;
          float: left;

          &:hover, &.active {
            color: #fff !important;
            background-color: #676767;
            border: 1px solid #FFF;
          }

        }

      }

    }

  }

}

//.chosen {
//  width: 100%;
//}
//
//ul {
//  margin-left: 15px;
//  padding: 0;
//  list-style: none;
//
//  aliases, projects, tools {
//    list-style: none;
//    line-height: 20px;
//  }
//
//}
//
.top {
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 14px;
}

.center {
  margin: 0 0 10px 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.bottom {
  width: 100%;
  margin: 0px;
  padding: 14px 0px;
  box-sizing: border-box;

  .panel {
    width: 98%;
    margin: 0px auto 15px auto;
    box-sizing: border-box;
  }
}
//
//li.sub_links {
//  font-style: italic;
//  margin: 0 3px;
//}
//
//li.fl {
//  list-style-type: none !important;
//  float: left !important;
//
//}
//
//li.pi-left-col {
//  width: 20% !important;
//  font-size: .9em !important;
//}
//
//li.pi-right-col {
//
//  text-align: center !important;
//}
//
//li.pi-row-separator {
//  height: 1px;
//  kborder-bottom: 1px dotted #707070 !important;
//  width: 90% !important;
//  padding: 3px 0 0 0;
//  margin: 0 0 3px 0;
//}
//
//.clear {
//  clear: both !important;
//  height: 1px;
//}

